.tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  &.vertical {
    .tabs-titles {
      flex: 0 1 100px;
      flex-wrap: wrap;
    }
    .tabs-contents {
      flex: 1;
    }
  }
  .tabs-titles, .tabs-contents {
    display: flex;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;
  }
  .tabs-contents {
    padding: $menu-item-padding-y $menu-item-padding-x;
  }
  .tabs-title { 
    list-style: none;
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    &.active {
      color: $tabs-title-active-color;
      border-bottom: $menu-border-width solid $tabs-title-active-color;
    }
    &.disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }
  .tabs-tabPane {
    display: none;
    &.active {
      display: block;
    }
  }
}