.alert {
  position: relative;
  width: 100%;
  padding: $alert-padding-y $alert-padding-x;
  border-radius: $alert-border-radius;
  line-height: $alert-line-height;
}

.alert-title {
  font-size: $alert-title-font-size;
}

.alert-message {
  font-size: $alert-message-font-size;
}

.alert-icon {
  position: absolute;
  top: $alert-icon-top;
  right: $alert-icon-right;
  font-weight: $alert-icon-font-weight;
  font-size: $alert-icon-font-size;
  color: $white;
  cursor: pointer;
}

.alert-success {
  @include alert-style($success);
}
.alert-warning {
  @include alert-style($warning);
}
.alert-danger {
  @include alert-style($danger);
}
.alert-default {
  @include alert-style($info);
}

